*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0
}

canvas {
  background-color: #9CCB95;
  display: block;
  margin: 0 auto 2.5rem;
}

button {
  background-color: #222222;
  border-radius: 3px;
  border-top: none;
  border: 2px solid #000000;
  color: #EEEEEE;
  font-family: monospace;
  font-size: 2rem;
  font-weight: bold;
  height: 4rem;
  line-height: 2rem;
  width: 4rem;
  margin-right: 1rem;
}

button:last-of-type {
  margin-right: 0;
}

button:hover,
button:focus {
  border: 2px solid tomato;
}

#gamepad {
  text-align: center;
}

#gamepad div {
  margin-bottom: 1rem;
}